@use "sass:color";
@use "sass:list";

$color_fondo: rgb(190, 187, 180);
$color_titulo: rgb(212, 211, 208);

body{
    background-color: $color_fondo;
}

#container{
    width: 80%;
    height: 100vh;
    padding: 1% 0%;
    margin: 0 auto;
    background-color: white;

    article{      
        width: 40%;
        margin: auto;
        background-color: $color_fondo;
        padding: 1%;
        border-radius: 5px;
        margin-top: 10vh;
        img{
            display: block;
            width: 80%;
            margin: 0 auto;
            border-radius: 5px;
        }
 
        p{
            width: 90%;
            background-color: $color_titulo;
            margin: auto;
            text-align: center;
            border-radius: 2px;
            margin-top: 2vh;
            padding: 4%;
        }
    }
} 