@import url("https://fonts.googleapis.com/css?family=Roboto:400");
.contenedor {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  row-gap: 1em;
  -moz-column-gap: 1em;
       column-gap: 1em;
}

@media screen and (max-width: 1024px) {
  .col-sm-1 {
    grid-column-end: span 1;
  }
  .margin-sm-1 {
    grid-column-start: 2;
  }
  .col-sm-2 {
    grid-column-end: span 2;
  }
  .margin-sm-2 {
    grid-column-start: 3;
  }
  .col-sm-3 {
    grid-column-end: span 3;
  }
  .margin-sm-3 {
    grid-column-start: 4;
  }
  .col-sm-4 {
    grid-column-end: span 4;
  }
  .margin-sm-4 {
    grid-column-start: 5;
  }
  .col-sm-5 {
    grid-column-end: span 5;
  }
  .margin-sm-5 {
    grid-column-start: 6;
  }
  .col-sm-6 {
    grid-column-end: span 6;
  }
  .margin-sm-6 {
    grid-column-start: 7;
  }
  .col-sm-7 {
    grid-column-end: span 7;
  }
  .margin-sm-7 {
    grid-column-start: 8;
  }
  .col-sm-8 {
    grid-column-end: span 8;
  }
  .margin-sm-8 {
    grid-column-start: 9;
  }
  .col-sm-9 {
    grid-column-end: span 9;
  }
  .margin-sm-9 {
    grid-column-start: 10;
  }
  .col-sm-10 {
    grid-column-end: span 10;
  }
  .margin-sm-10 {
    grid-column-start: 11;
  }
  .col-sm-11 {
    grid-column-end: span 11;
  }
  .margin-sm-11 {
    grid-column-start: 12;
  }
  .col-sm-12 {
    grid-column-end: span 12;
  }
  .hidden-sm {
    display: none !important;
  }
}
@media screen and (min-width: 1024px) {
  .col-lg-1 {
    grid-column-end: span 1;
  }
  .margin-lg-1 {
    grid-column-start: 2;
  }
  .col-lg-2 {
    grid-column-end: span 2;
  }
  .margin-lg-2 {
    grid-column-start: 3;
  }
  .col-lg-3 {
    grid-column-end: span 3;
  }
  .margin-lg-3 {
    grid-column-start: 4;
  }
  .col-lg-4 {
    grid-column-end: span 4;
  }
  .margin-lg-4 {
    grid-column-start: 5;
  }
  .col-lg-5 {
    grid-column-end: span 5;
  }
  .margin-lg-5 {
    grid-column-start: 6;
  }
  .col-lg-6 {
    grid-column-end: span 6;
  }
  .margin-lg-6 {
    grid-column-start: 7;
  }
  .col-lg-7 {
    grid-column-end: span 7;
  }
  .margin-lg-7 {
    grid-column-start: 8;
  }
  .col-lg-8 {
    grid-column-end: span 8;
  }
  .margin-lg-8 {
    grid-column-start: 9;
  }
  .col-lg-9 {
    grid-column-end: span 9;
  }
  .margin-lg-9 {
    grid-column-start: 10;
  }
  .col-lg-10 {
    grid-column-end: span 10;
  }
  .margin-lg-10 {
    grid-column-start: 11;
  }
  .col-lg-11 {
    grid-column-end: span 11;
  }
  .margin-lg-11 {
    grid-column-start: 12;
  }
  .col-lg-12 {
    grid-column-end: span 12;
  }
  .hidden-lg {
    display: none !important;
  }
}
.padding {
  padding: 1em;
}

.padding_large {
  padding: 3em;
}

.texto_centrado {
  text-align: center;
}

.gap {
  gap: 1em;
}

.self_centrado {
  align-self: center;
}

.d_flex {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.d_flex_row {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.display_4 {
  font-size: 2.5em;
}

.display_3 {
  font-size: 2em;
}

.display_2 {
  font-size: 1.3em;
}

.padding_bottom {
  padding-bottom: 1em;
}

#menu-responsive li:not(:first-child) {
  display: none;
}

#hamburguesa {
  display: none;
  visibility: hidden;
}

#menu-responsive li:not(:first-child) {
  display: block !important;
}

@media screen and (max-width: 1024px) {
  #menu-responsive {
    justify-items: center;
  }
  #hamburguesa {
    padding: 2% 0;
    display: block;
    visibility: visible;
  }
  #menu-responsive li:not(:first-child) {
    display: none !important;
  }
  .responsive#menu-responsive li:not(:first-child) {
    display: block !important;
  }
  .responsive li {
    display: block !important;
  }
}
/* <ul id="menu-responsive" class="contenedor">
    <li class="" id="hamburguesa">&#9776;</li>  
    <li class="margin-md-1 col-md-3 col-sm-12" >Blog</li>
    <li class="col-md-3 col-sm-12">Acerca de</li>
    <li class="col-md-3 col-sm-12">Archivo</li>
    <li class="col-md-2 col-sm-12">Contacto</li>
</ul> */
* {
  font-family: "Roboto";
  font-weight: 100;
}

#slider {
  background-image: url("./images/slider/bg1.jpg");
  padding: 6em;
  background-size: cover;
  background-repeat: no-repeat;
}
#slider h2 {
  font-size: 2em;
  color: white;
}
#slider h2 span {
  color: #45AED6;
}
#slider p {
  color: white;
  padding: 1em 0;
}

#portfolio, .miembro-equipo {
  background-color: #F5F5F5;
}

#footer {
  background-color: #2E2E2E;
}

.boton {
  text-decoration: none;
  color: white;
  background-color: #45AED6;
  padding: 1em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#titulo-pagina {
  align-self: center;
  font-size: 1.3em;
}

nav ul li {
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  color: black;
}

header a {
  text-decoration: none;
  color: #45AED6;
}
header #menu-responsive {
  align-self: center;
}

.cabecera-seccion h2 {
  font-size: 2em;
}

.icono-servicio i {
  border: 1px solid grey;
  border-radius: 50%;
  color: #45AED6;
}

picture {
  width: 100%;
}

img {
  width: 100%;
}

footer {
  color: white;
}

#meet-team {
  padding: 1em;
}

@media screen and (max-width: 1024px) {
  #slider {
    padding: 4em 1em;
  }
  #meet-team {
    padding: 0;
  }
}