@import url("https://fonts.googleapis.com/css?family=Roboto:400");
.contenedor {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  row-gap: 1em;
  -moz-column-gap: 1em;
       column-gap: 1em;
}

@media screen and (max-width: 768px) {
  .col-sm-1 {
    grid-column-end: span 1;
  }
  .margin-sm-1 {
    grid-column-start: 2;
  }
  .col-sm-2 {
    grid-column-end: span 2;
  }
  .margin-sm-2 {
    grid-column-start: 3;
  }
  .col-sm-3 {
    grid-column-end: span 3;
  }
  .margin-sm-3 {
    grid-column-start: 4;
  }
  .col-sm-4 {
    grid-column-end: span 4;
  }
  .margin-sm-4 {
    grid-column-start: 5;
  }
  .col-sm-5 {
    grid-column-end: span 5;
  }
  .margin-sm-5 {
    grid-column-start: 6;
  }
  .col-sm-6 {
    grid-column-end: span 6;
  }
  .margin-sm-6 {
    grid-column-start: 7;
  }
  .col-sm-7 {
    grid-column-end: span 7;
  }
  .margin-sm-7 {
    grid-column-start: 8;
  }
  .col-sm-8 {
    grid-column-end: span 8;
  }
  .margin-sm-8 {
    grid-column-start: 9;
  }
  .col-sm-9 {
    grid-column-end: span 9;
  }
  .margin-sm-9 {
    grid-column-start: 10;
  }
  .col-sm-10 {
    grid-column-end: span 10;
  }
  .margin-sm-10 {
    grid-column-start: 11;
  }
  .col-sm-11 {
    grid-column-end: span 11;
  }
  .margin-sm-11 {
    grid-column-start: 12;
  }
  .col-sm-12 {
    grid-column-end: span 12;
  }
  .hidden-sm {
    display: none !important;
  }
}
@media screen and (min-width: 1024px) {
  .col-lg-1 {
    grid-column-end: span 1;
  }
  .margin-lg-1 {
    grid-column-start: 2;
  }
  .col-lg-2 {
    grid-column-end: span 2;
  }
  .margin-lg-2 {
    grid-column-start: 3;
  }
  .col-lg-3 {
    grid-column-end: span 3;
  }
  .margin-lg-3 {
    grid-column-start: 4;
  }
  .col-lg-4 {
    grid-column-end: span 4;
  }
  .margin-lg-4 {
    grid-column-start: 5;
  }
  .col-lg-5 {
    grid-column-end: span 5;
  }
  .margin-lg-5 {
    grid-column-start: 6;
  }
  .col-lg-6 {
    grid-column-end: span 6;
  }
  .margin-lg-6 {
    grid-column-start: 7;
  }
  .col-lg-7 {
    grid-column-end: span 7;
  }
  .margin-lg-7 {
    grid-column-start: 8;
  }
  .col-lg-8 {
    grid-column-end: span 8;
  }
  .margin-lg-8 {
    grid-column-start: 9;
  }
  .col-lg-9 {
    grid-column-end: span 9;
  }
  .margin-lg-9 {
    grid-column-start: 10;
  }
  .col-lg-10 {
    grid-column-end: span 10;
  }
  .margin-lg-10 {
    grid-column-start: 11;
  }
  .col-lg-11 {
    grid-column-end: span 11;
  }
  .margin-lg-11 {
    grid-column-start: 12;
  }
  .col-lg-12 {
    grid-column-end: span 12;
  }
  .hidden-lg {
    display: none !important;
  }
}
* {
  font-family: "Roboto";
  font-weight: 100;
}

#slider {
  background-image: url("./images/slider/bg1.jpg");
  padding: 10em;
}

#portfolio, .miembro-equipo {
  background-color: #F5F5F5;
}

#footer {
  background-color: #2E2E2E;
}

.boton {
  text-decoration: none;
  color: white;
  background-color: #45AED6;
  padding: 1em;
}

#titulo-pagina {
  align-self: center;
  font-size: 1.3em;
}

nav ul li {
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  color: black;
}

header a {
  text-decoration: none;
  color: #45AED6;
}