@import url("https://fonts.googleapis.com/css?family=Roboto:400,100");
aside {
  grid-column: span 3;
  display: grid;
  grid-template-rows: auto auto 1fr;
  background-color: white;
}
aside article {
  background-color: white;
  color: grey;
}
aside article .espaciado {
  padding: 1em;
  display: grid;
  row-gap: 2em;
}
aside article .espaciado h4 {
  font-size: 2.3em;
}
aside article .espaciado div {
  line-height: 1.5;
}
aside #banner {
  background-image: url("./img/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#contacto {
  grid-column: 3/11;
  background-color: rgb(18, 32, 61);
  display: grid;
  grid-template-columns: 1fr;
  padding: 1em;
  gap: 2em;
}
#contacto h3 {
  font-size: 2em;
  text-align: center;
}
#contacto .campoformulario {
  display: grid;
  grid-template-columns: 20% 1fr;
}
#contacto .campoformulario input, #contacto .campoformulario textarea {
  font-family: "Roboto";
  padding: 1%;
}

header {
  grid-column: 2/12;
  background-color: rgb(18, 32, 61);
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 1em;
  color: white;
}
header #identidad {
  display: grid;
  grid-template-columns: auto auto 1fr;
  gap: 0.5em;
}
header #identidad h1 {
  font-size: 1.5em;
  align-self: center;
}
header #identidad span {
  color: rgb(166, 0, 69);
  align-self: center;
  font-size: 1.5em;
}
header #identidad h2 {
  align-self: center;
  justify-self: start;
  color: rgb(80, 101, 130);
  padding-left: 2em;
}
header nav {
  justify-self: center;
  align-self: center;
}
header nav ul {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 1em;
}
header nav ul li:first-child a {
  color: white;
  font-weight: 400;
}
header nav ul li:hover {
  text-decoration: underline;
}
header #social {
  justify-self: end;
  align-self: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5em;
}
header #social i {
  font-size: 2em;
  color: rgb(80, 101, 130);
}

footer {
  background-color: rgb(18, 32, 61);
  grid-column: 2/12;
  padding: 1em;
  display: grid;
  grid-template-columns: auto 1fr auto;
}
footer span:last-child {
  grid-column: 3/-1;
}

main {
  grid-column: 2/12;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 2em;
}
main #principal {
  grid-column: span 12;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 2em;
}
main #principal #novedades {
  grid-column: span 9;
}
main #principal #novedades article {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
main #principal #novedades article .contenido {
  padding: 1em;
  display: grid;
  grid-template-rows: auto 1fr auto 1fr;
}
main #principal #novedades article .contenido h4 {
  justify-self: end;
  font-size: 2em;
}
main #principal #novedades article .contenido h3 {
  font-size: 3em;
}
main #principal #novedades article .contenido div {
  line-height: 1.5;
}
main #principal #novedades article:nth-child(odd) img {
  order: 0;
}
main #principal #novedades article:nth-child(odd) .contenido {
  order: 1;
}
main #principal #novedades article:nth-child(even) img {
  order: 1;
}
main #principal #novedades article:nth-child(even) .contenido {
  order: 0;
}
main #principal #novedades article:last-child {
  grid-template-columns: 1fr;
}
main #principal #novedades article:last-child .contenido {
  gap: 2em;
}

.rosa {
  background-color: rgb(166, 0, 69);
}

.azulado {
  background-color: rgb(20, 108, 97);
}

.naranja {
  background-color: rgb(160, 82, 14);
}

.naranja {
  background-color: rgb(160, 82, 14);
}

.azulin {
  background-color: rgb(38, 131, 174);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  font-weight: 100;
}

body {
  background-color: rgb(10, 18, 36);
}

#contenedor {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  row-gap: 2em;
  color: white;
}

img {
  width: 100%;
}