

@font-face {
    font-family: Roboto;
    src: url("font/Roboto-Regular.ttf");
}


#contenedor{
    width:80%;
    margin:0 auto;
    background-color:rgba(255,0,0,0.1);
    padding:1em;
    //display: flex;
    height: 100vh;

}

header{
    font-size:2em;
    padding:1em; 

    background-color:rgba(255,0,0,0.6);

    color:white;
   
}

main{
    padding:1em;
    display: flex;
    align-items: stretch;
    //flex-direction: row;
    height: 80%;
    .interna{
        font-weight: bold;      
        padding:1em;

    }
    .verde{
        color:rgba(0,255,0,0.8);
        border:1px solid rgba(0,255,0,0.8);
        background-color:rgba(0,255,0,0.2);    
    }

    .azul{
        background-color:rgba(0,0,255,0.2);
        color:rgba(0,0,255,0.7);
        border:1px solid rgba(0,0,255,0.7);
    }



     

}