#container {
  padding: 1%;
  background-color: rgb(245, 219, 220);
}
#container #caja, #container p, #container a, #container span {
  display: inline-block;
  width: 10vW;
  height: 25vh;
}
#container h1 {
  background-color: rgb(245, 79, 83);
  color: white;
  margin-bottom: 1%;
}
#container #caja, #container p {
  background-color: rgb(192, 226, 171);
  color: green;
  border: 1px green solid;
}
#container a, #container span {
  background-color: rgba(0, 0, 255, 0.1333333333);
  color: #0000FF;
  opacity: 0.5;
  border: 1px #0000FF solid;
}