#portfolio{
    background-color: $color-fondo-portfolio;
    gap:2*$tam-base;
    padding:2*$tam-base;
    h3{
        
        font-size:2*$tam-base;
        text-align: center;
        padding: 1em;
    }

} 

@include breakpoint(nth(map-get($breakpoints,"sm"),1),nth(map-get($breakpoints,"sm"),2)){

    #portfolio{

        h3{
            font-size: 3*$tam-base;
        } 
    } 
}