main{
        grid-column: 2/12;
        display: grid;
        grid-template-columns:repeat(12, 1fr);
        gap: $espaciado;
    #principal{
        grid-column: span 12;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: $espaciado;

        #novedades{
            grid-column: span 9;

            article{
                display: grid;
                grid-template-columns: 1fr 1fr;

                .contenido{
                    padding: $padding;
                    display: grid;
                    grid-template-rows: auto 1fr auto 1fr;
                    h4{
                        justify-self: end;
                        font-size: 2em;
                    }

                    h3{
                        font-size: 3em;
                    }

                    div{
                        line-height: 1.5;
                    }
                }
            }

            article:nth-child(odd){

                img{
                    order: 0;
                }
                .contenido{
                    order: 1;
                }
            }

            article:nth-child(even){

                img{
                    order: 1;
                }
                .contenido{
                    order: 0;
                }
            }

            article:last-child{
                grid-template-columns: 1fr;
                .contenido{
                    gap: $espaciado; //TODO mejorar
                }

            }
        }

    }

}

.rosa{
    background-color: $rosa;
}

.azulado{
    background-color: $verdoso;
}

.naranja{
    background-color: $anaranjado;
}

.naranja{
    background-color: $anaranjado;
}

.azulin{
    background-color: $azul_claro;
}

