@use "sass:color";
@use "sass:list";
@import "variables.scss";
@import "aside.scss";
@import "contacto.scss";
@import "header.scss";
@import "footer.scss";
@import "principal.scss";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: $tipografia;
}

body{
    background-color: $fondo_oscuro;
}

#contenedor{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    row-gap: $espaciado;
    color: white;
}

img{
    width: 100%;
}