@import "rejilla-responsive-sass";
@import "variables.scss";


* {
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}




@include breakpoint(nth(map-get($breakpoints,"sm"),1),nth(map-get($breakpoints,"sm"),2)){
    /* Ejemplo de uso media query para resoluciones MD */


  } 

 @include breakpoint(nth(map-get($breakpoints,"md"),1),nth(map-get($breakpoints,"md"),2)){
   /* Ejemplo de uso media query para resoluciones LG */

   .animal{
    img{
        width: 40%;
    }

    &:nth-child(odd){
        padding-left: 0;
        padding-right: 1em;
    }

    &:nth-child(even){
        padding-left: 1em;
        padding-right: 0;
    }


}

    nav, aside{
      order: -1;
    }



 } 

 @include breakpoint(nth(map-get($breakpoints,"lg"),1),nth(map-get($breakpoints,"lg"),2)){
    /* Ejemplo de uso media query para resoluciones XL */


  }   


  // Estilos generales

  header{
    @extend %display_grid;
    background-color: $fondo_header;
    h1{
        font-size: 3em;
        font-weight: 200;
    }
    p{
      text-align: left;
    }
  }

  nav {
    ul{
      display: flex;
      flex-direction: column;
      gap: 0.2em;
      li{
        background-color: $fondo_nav;
        color: white;
        padding: 0.5em;
      }
    }
  
  } 

  aside{
    background-color: $fondo_aside;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: space-around;
    align-items: center;
  }


  footer{
    background-color: $fondo_footer;
    color: white;
    gap: 2em;
    div{
      @extend %display_flex;
      img{
        width: 100%;
      }
    }
  }

.animal{
  @extend %display_grid;
  padding:0;
  text-align: center;
  h1{
      font-size: 1.2em;
      font-weight: 200;

  }
  img{
      width: 60%;
      justify-self: center;
  }
  &:first-of-type{
      padding-left: 1em;
     
  }

  &:last-of-type{
      padding-right: 1em;
      
  }
}

