#container div {
  width: 100px;
  height: 100px;
}
#container #caja1 {
  background-color: blue;
}
#container #caja2 {
  background-color: red;
}
#container #caja3 {
  background-color: violet;
}
#container #caja4 {
  background-color: yellow;
}