$color-fondo-pagina:#0b192f;
$color-fondo-cabecera:#162b4d;
$color-resaltado-menu:#0b192f;
$color-bolsos:#b71757;
$color-gafas:#0d7e71;
$color-moda:#b1660e;
$color-peinados:#d12767;
$color-barato:#2d95bb;
$color-letra:#FFF;
$color-secundario:#637693;

$tipografia: Roboto;
$tam-base:1em;

