@use "sass:math";


header{
    background-color: $color-fondo-cabecera;
    padding:$tam-base;

    
    #titulo{
      
        h1{
            font-size:$tam-base*3;
            letter-spacing: -1px;
            width: max-content;
            span{
                color:$color-bolsos;
               
            }
        }
        p{
            color:$color-secundario;
            font-size:$tam-base*1.5;
            width: max-content;
        }
    }

    nav{
       

        ul{
         
          gap:$tam-base;
            li{
                font-size:$tam-base*1.5;
                width: max-content;
                text-align:center;
                &#activo{
                    font-weight: bold;
                }
               
            }
          
        }

        #social{
           
            i{
            font-size:$tam-base*2;
            color:$color-secundario;
          
            }
        }
    }
}

@include breakpoint(nth(map-get($breakpoints,"xl"),1),nth(map-get($breakpoints,"xl"),2)){
    header{
        p{
            align-self: center;
        }
    }
    
    nav{
        align-content: center;
        ul{
            column-gap: 2.2vw !important;
        }
    }

    #social{
        column-gap: 0.3vw;
    }
}


