body {
  background-color: rgb(190, 187, 180);
}

header, footer {
  background-color: rgb(52, 48, 44);
  color: rgb(212, 216, 214);
  text-align: center;
}

#container {
  width: 80%;
  margin: 0 auto;
  background-color: white;
  font-family: "Bowlby One SC";
}
#container header #titulo {
  padding: 2%;
}
#container header #titulo h1 {
  font-size: 2.2em;
  padding-bottom: 4vh;
}
#container header #titulo h3 {
  font-size: 1.3em;
}
#container header #menuYBanner {
  height: 250px;
}
#container header #menuYBanner nav {
  background-color: white;
  float: left;
  width: 23%;
  height: 100%;
  color: rgb(52, 48, 44);
  font-size: small;
}
#container header #menuYBanner nav li {
  height: 50px;
  padding: 10%;
}
#container header #menuYBanner #banner {
  width: 77%;
  height: 250px;
  background-image: url(img/movies.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  float: right;
}
#container main {
  padding: 2% 3%;
}
#container main .ficha {
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  margin-bottom: 2vh;
  background-color: rgb(190, 187, 180);
  padding: 1%;
  border-radius: 5px;
  float: left;
}
#container main .ficha img {
  display: block;
  width: 18vw;
  margin: 0 auto;
  border-radius: 5px;
}
#container main .ficha p {
  width: 23vw;
  background-color: rgb(212, 211, 208);
  color: rgb(84, 82, 78);
  margin: auto;
  text-align: center;
  border-radius: 2px;
  margin-top: 2vh;
  padding: 4%;
  font-size: 0.6em;
}
#container main article:nth-child(7) {
  margin-left: 13vw;
  margin-bottom: 0;
}
#container main article:last-of-type {
  margin-left: 0.8vw;
  margin-bottom: 0;
}
#container main .central {
  margin-left: 0.8vw;
  margin-right: 0.8vw;
}
#container footer {
  padding: 1%;
}

.limpiar {
  clear: both;
}