* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#contenedor {
  width: 80%;
  margin: 20px auto;
  display: grid;
  gap: 1em;
  grid-template-areas: "ca    ca  ca  ca" "m   co1  co1  co1" "m   co2  co2  co2" "co3 co3 co3   co3" "pie pie pie pie";
}
#contenedor div {
  padding: 2em;
  text-align: center;
}

#cabecera {
  background-color: khaki;
  grid-area: ca;
}

#menu {
  background-color: lightblue;
  grid-area: m;
}

#contenido1, #contenido2, #contenido3 {
  background-color: lightcoral;
}

#contenido1 {
  grid-area: co1;
}

#contenido2 {
  grid-area: co2;
}

#contenido3 {
  grid-area: co3;
}

#pie {
  background-color: lightgreen;
  grid-area: pie;
}