* {
  box-sizing: border-box;
  font-family: Arial;
}

body {
  width: 80%;
  margin: auto;
}

#contenedor {
  display: flex;
  border: 3px black solid;
  height: auto;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  margin: auto;
  align-items: center;
  background-color: rgb(177, 179, 198);
  padding: 2% 1%;
}

#logos {
  display: flex;
  justify-content: space-around;
  margin: auto;
  height: 70%;
}

.logo {
  width: 105px;
  height: 100px;
  background-repeat: no-repeat;
  background-image: url("img/sprite.png");
}

#twitter {
  background-position: 0px 0px;
}
#twitter:hover {
  background-position: 0px -110px;
}

#you_tube {
  background-position: -105px 0px;
}
#you_tube:hover {
  background-position: -105px -110px;
}

#facebook {
  background-position: -210px 0px;
}
#facebook:hover {
  background-position: -210px -110px;
}

#flickr {
  background-position: -315px 0px;
}
#flickr:hover {
  background-position: -315px -110px;
}