@use "sass:color";
@use "sass:list";
$color: white;
$botones: (
    "error": #FF0000,
    "exito": #00FF00,
    "info": #0000FF,
);

body{
width: 80%;
margin: auto;
box-sizing: border-box;
font-family: Arial;
}

#contenedor {
    display: flex;
    height: 25vh;
    align-items: center;
}

#botones{
    display: flex;
    justify-content: space-around;
    margin: auto;
    width: 100%;
}

@each $name, $value in $botones{
    .#{$name}{
        background-color: $value;
        color: $color;
        width: 20%;
        padding: 2%;
        &:hover{
            color:adjust-color($value, $alpha: 0.5)
        }
    }
}

