
@import "_global.scss";
@import "_rejilla.scss";


@import "_header.scss"; 
@import "_principal.scss"; 
@import "_aside.scss";
@import "_contacto.scss";
@import "_footer.scss";

*{
    font-family: $tipografia;
    color:$color-letra;
    font-weight: 100;
} 

p{
    font-size: $tam-base*1.5;
    line-height: $tam-base*1.5;
}

body{
    background-color:$color-fondo-pagina;
}

#wrapper{
    background-color:$color-fondo-pagina;
   
}

#contenido{
    row-gap:$tam-base*3; 
}

img{
    //height: auto !important; // TODO revisar
}

