
#meet-team{
    display: flex;
    flex-direction: column;
    padding: 2% 0% 1% 0%;
    gap: 2em;
    .section-header{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2em;
        h2{
            font-size: 2em;
        }
    }

    .section-body{
        display: flex;
        flex-wrap: nowrap;
        gap: 1em;
        article{
            flex-grow: 1;
            background-color: $gris;
            padding: 1%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1em;
        }
    }
}