*{
    box-sizing: border-box;
    font-family: Arial;
}

body{
width: 80%;
margin: auto;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#marco{
    border: 68px solid transparent;
    border-image: url("img/marco.png") 25% stretch;

}