*{
    box-sizing: border-box;
    font-family: Arial;
}

body{
width: 80%;
margin: auto;
}

#contenedor {
    display: flex;
    border: 3px black solid;   
    height: 25vh;
    align-items: center;
    background-color: rgb(177, 179, 198);
}

#logos{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: auto;
    height: 70%;
}

.logo{
    width: 103px;
    height: 101px;
    background-repeat: no-repeat;
    

}

#a{
    background-image: url("img/sprite.png");
    background-position: 0px 0px;
}

#b{
    background-image: url("img/sprite.png");
    background-position: -101px 0px;
}

#c{
    background-image: url("img/sprite.png");
    background-position: -206px 0px;
}

#d{
    background-image: url("img/sprite.png");
    background-position: -312px 0px;
}

#a:hover{
    background-image: url("img/sprite.png");
    background-position: 0px -111px;
    
}

#b:hover{
    background-image: url("img/sprite.png");
    background-position: -101px -111px;
}

#c:hover{
    background-image: url("img/sprite.png");
    background-position: -206px -111px;
}

#d:hover{
    background-image: url("img/sprite.png");
    background-position: -312px -111px;
}