@use "sass:color";
@use "sass:list";

$posiciones:(
    "a": 0px 0px,
    "b": -101px 0px,
    "c": -206px 0px,
    "d": -312px 0px,
    "a:hover": 0px -111px,
    "b:hover": -101px -111px,
    "c:hover": -206px -111px,
    "d:hover": -312px -111px

);

*{
    box-sizing: border-box;
    font-family: Arial;
}

body{
width: 80%;
margin: auto;
}

#contenedor {
    display: flex;
    border: 3px black solid;   
    height: auto;
    width: fit-content;
    margin: auto;
    align-items: center;
    background-color: rgb(177, 179, 198);
    padding: 2% 1%;
}

#logos{
    display: flex;
    justify-content: space-around;
    margin: auto;
    height: 70%;

}

.logo{
    width: 103px;
    height: 101px;
    background-repeat: no-repeat;
    background-image: url("img/sprite.png");

}

@each $name, $value in $posiciones{
    .#{$name}{
        background-color: $value;
        color: $color;
        width: 20%;
        padding: 2%;
        &:hover{
            color:adjust-color($value, $alpha: 0.5)
        }
    }
}





#a{
    
    background-position: 0px 0px;
}

#b{
    background-image: url("img/sprite.png");
    background-position: -101px 0px;
}

#c{
    background-image: url("img/sprite.png");
    background-position: -206px 0px;
}

#d{
    background-image: url("img/sprite.png");
    background-position: -312px 0px;
}

#a:hover{
    background-image: url("img/sprite.png");
    background-position: 0px -111px;
    
}

#b:hover{
    background-image: url("img/sprite.png");
    background-position: -101px -111px;
}

#c:hover{
    background-image: url("img/sprite.png");
    background-position: -206px -111px;
}

#d:hover{
    background-image: url("img/sprite.png");
    background-position: -312px -111px;
}