* {
  box-sizing: border-box;
  font-family: Verdana;
}

body {
  background-color: rgb(190, 187, 180);
}

header, footer {
  background-color: rgb(52, 48, 44);
  color: rgb(212, 216, 214);
  text-align: center;
  padding: 1%;
}

#container {
  width: 80%;
  margin: 0 auto;
  background-color: white;
}
#container header h1 {
  font-size: 2.2em;
  padding-bottom: 2%;
  font-family: "Bowlby One SC";
}
#container header h3 {
  font-size: 1.3em;
}
#container main {
  padding: 2% 3%;
}
#container main .linea {
  display: inline-block;
}
#container main .ficha {
  width: 32%;
  margin-bottom: 1.5%;
  background-color: rgb(190, 187, 180);
  padding: 1%;
  border-radius: 5px;
  float: left;
}
#container main .ficha img {
  display: block;
  width: 91%;
  margin: 0 auto;
  border-radius: 5px;
}
#container main .ficha p {
  width: 100%;
  background-color: rgb(212, 211, 208);
  color: rgb(84, 82, 78);
  margin: auto;
  text-align: center;
  border-radius: 2px;
  margin-top: 3%;
  padding: 3%;
  font-size: 1.2em;
}
#container main #ultima article:first-child {
  margin: 0 1.5% 0 17%;
}
#container main .central {
  margin-left: 1.5%;
  margin-right: 1.5%;
}

.limpiar {
  clear: both;
}