#banner {
  background-image: linear-gradient(rgba(40, 40, 40, 0.8) 0%, rgba(40, 40, 40, 0.8) 100%), url("img/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  padding: 2%;
}
#banner .identidad-corporativa-big {
  flex-basis: 50%;
  padding: 2%;
}
#banner .identidad-corporativa-big .logo {
  display: flex;
  justify-content: center;
}
#banner .identidad-corporativa-big .logo img {
  width: 60%;
}
#banner .identidad-corporativa-big .nombre-empresa {
  text-align: center;
}
#banner .identidad-corporativa-big .nombre-empresa h1:first-child {
  color: white;
  font-size: 6em;
}
#banner .identidad-corporativa-big .nombre-empresa h1:last-child {
  font-size: 5em;
}
#banner .servicios {
  flex-basis: 50%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3em;
}
#banner .servicios h1 {
  font-size: 3em;
}
#banner .servicios .servicio {
  display: flex;
  gap: 5em;
}
#banner .servicios .servicio i {
  font-size: 3em;
  align-self: center;
}
#banner .servicios .servicio .trabajos {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
#banner .servicios .servicio .trabajos h2 {
  font-size: 2em;
}

#cita {
  padding: 5%;
  text-align: center;
}
#cita div:first-child {
  font-size: 3em;
  padding-bottom: 2%;
}
#cita div:last-child {
  font-size: 2em;
  color: grey;
}

#contacto {
  display: flex;
}
#contacto .formulario-contacto {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  gap: 1em;
  background-color: rgb(244, 174, 8);
  padding: 1%;
}
#contacto .formulario-contacto h2 {
  text-align: center;
  font-size: 2em;
  padding: 4% 0%;
}
#contacto .formulario-contacto input, #contacto .formulario-contacto textarea {
  padding: 1%;
  color: grey;
  font-family: kanit;
}
#contacto .formulario-contacto input:focus, #contacto .formulario-contacto textarea:focus {
  background-color: rgb(230, 230, 230);
  outline: unset;
}
#contacto .formulario-contacto button {
  align-self: flex-end;
  border: 1px solid black;
  padding: 2%;
}
#contacto .formulario-contacto button:hover {
  color: rgb(244, 174, 8);
  background-color: rgb(14, 14, 14);
}
#contacto .datos-contacto {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
}
#contacto .datos-contacto .fb {
  background-color: rgb(14, 14, 14);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4% 0%;
}
#contacto .datos-contacto .datos {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 1;
  padding: 7%;
}
#contacto .datos-contacto .datos .dato-contacto {
  flex-basis: 10%;
  display: flex;
  gap: 1em;
}
#contacto .datos-contacto .datos .dato-contacto i {
  font-size: small;
}

#descripcion {
  display: flex;
}
#descripcion .servicios {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(14, 14, 14);
  padding: 2% 2% 3% 2%;
}
#descripcion .servicios .descripcion-servicio {
  color: white;
  text-align: center;
}
#descripcion .servicios .descripcion-servicio h2 {
  font-size: 2em;
}
#descripcion .servicios .descripcion-servicio i {
  font-size: 2em;
}
#descripcion .servicios .descripcion-servicio p {
  font-size: 1em;
}
#descripcion .contrastes {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
}
#descripcion .contrastes .camion img {
  width: 100%;
  height: 100%;
}
#descripcion .contrastes .contrastes {
  display: flex;
  flex-direction: row;
}
#descripcion .contrastes .contrastes .experiencia {
  flex-grow: 1;
  background-color: rgb(209, 0, 21);
  padding: 3%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
#descripcion .contrastes .contrastes .experiencia div:first-child {
  font-weight: bold;
  font-size: 1.5em;
}
#descripcion .contrastes .contrastes .clientes {
  flex-grow: 1;
  background-color: rgb(244, 174, 8);
  padding: 3%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
#descripcion .contrastes .contrastes .clientes div:first-child {
  font-weight: bold;
  font-size: 1.5em;
}

#ayuda {
  display: flex;
  justify-content: center;
  padding: 5%;
  gap: 3em;
}
#ayuda .datos {
  text-align: center;
}
#ayuda .datos h1 {
  font-size: 2em;
}
#ayuda .datos p {
  font-size: 3em;
}
#ayuda .boton {
  border: rgb(244, 174, 8) 1px solid;
  padding: 2%;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}
#ayuda .boton:hover {
  color: white;
  background-color: rgb(244, 174, 8);
  cursor: pointer;
}

#cabecera {
  background-color: rgb(14, 14, 14);
  display: flex;
  justify-content: space-between;
  padding: 1%;
}
#cabecera .identidad-corporativa-small {
  display: flex;
  gap: 1em;
}
#cabecera .identidad-corporativa-small .logo {
  width: 150px;
  height: 100px;
  background-image: url("img/logo_small.png");
  background-repeat: no-repeat;
  background-size: cover;
}
#cabecera .identidad-corporativa-small .nombre-empresa {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#cabecera .identidad-corporativa-small .nombre-empresa h1:first-child {
  color: white;
}
#cabecera .menu {
  display: flex;
  align-items: center;
}
#cabecera .menu ul {
  display: flex;
  justify-content: center;
  gap: 1em;
}
#cabecera .menu li:last-child {
  color: white;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Kanit;
  scroll-behavior: smooth;
}

.amarillo {
  color: rgb(244, 174, 8);
}

.rojo {
  color: rgb(209, 0, 21);
}