
#cabecera{
    background-color: $fondo_oscuro;
    display: flex;
    justify-content: space-between;
    padding: 1%;

    .identidad-corporativa-small{
        display: flex;
        gap: 1em;
        .logo{
            width: 150px;
            height: 100px;
            background-image: url('img/logo_small.png');
            background-repeat: no-repeat;
            background-size: cover;
        }

        .nombre-empresa{
            display: flex;
            flex-direction: column;
            justify-content: center;

            h1:first-child{
                color: white;
            }
        }
    }

    .menu{
        display: flex;
        align-items: center;
        ul{
            display: flex;
            justify-content: center;
            gap: 1em;
        }

        li:last-child{
            color: white;
        }
    }
}