@use "sass:color";
@use "sass:list";
@import "variables.scss";
@import "banner.scss";
@import "cita.scss";
@import "contacto.scss";
@import "descripcion.scss";
@import "ayuda.scss";
@import "cabecera.scss";


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Kanit;
    scroll-behavior: smooth;
}


.amarillo{
    color: $amarillos;
}

.rojo{
    color: $letras_rojas;
}


// TODO a単adir una clase blanco

// TODO a単adir una clase fondo oscuro

// TODO a単adir una clase flex direction column

// TODO a単adir una clase para el padding