body {
  background-color: rgb(190, 187, 180);
}

#container {
  width: 80%;
  height: 100vh;
  padding: 1% 0%;
  margin: 0 auto;
  background-color: white;
}
#container article {
  width: 40%;
  margin: auto;
  background-color: rgb(190, 187, 180);
  padding: 1%;
  border-radius: 5px;
  margin-top: 10vh;
}
#container article img {
  display: block;
  width: 80%;
  margin: 0 auto;
  border-radius: 5px;
}
#container article p {
  width: 90%;
  background-color: rgb(212, 211, 208);
  margin: auto;
  text-align: center;
  border-radius: 2px;
  margin-top: 2vh;
  padding: 4%;
}