
.padding{
    padding: 1em;
}

.padding_large{
    padding: 3em;
}

.texto_centrado{
    text-align: center;
}

.gap{
    gap: 1em;
}

.self_centrado{
    align-self: center;
}

.d_flex{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.d_flex_row{
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.display_4{
    font-size: 2.5em;
}

.display_3{
    font-size: 2em;
}

.display_2{
    font-size: 1.3em;
}

.padding_bottom{
    padding-bottom: 1em;
}