

$columnas:12;
$tam-base:1em;
$espacio-filas:$tam-base;
$espacio-columnas:$tam-base;

$breakpoints:(
    "sm":(false,768px),
    "lg":(1024px,false) 
);

.contenedor{
    display: grid;
    grid-template-columns: repeat($columnas,1fr);
    row-gap:$espacio-filas;
    column-gap:$espacio-columnas;
}

@mixin breakpoint($min,$max){
     
    @if($min==false){
        @media screen and (max-width:$max) {
                @content;
        }
    }

    @else if($max==false){
        @media screen and (min-width:$min) {
            @content;
        }
       }

      @else{
        @media screen and (min-width:$min) and (max-width:$max){
            @content;
        }
       }
    }

 


@each $nombre,$res in $breakpoints{
    $min:nth($res,1);
    $max:nth($res,2);

    @include breakpoint($min,$max){
        @for $i from 1 through $columnas {
            .col-#{$nombre}-#{$i}{grid-column-end: span $i};
            @if($i != $columnas){
                .margin-#{$nombre}-#{$i}{grid-column-start: $i + 1};
            }
        }
    .hidden-#{$nombre}{ display:none !important;}
    }
}



// Ejemplos de aplicación de breakpoint 

// @include breakpoint(nth(map-get($breakpoints,"sm"),1),nth(map-get($breakpoints,"sm"),2)){
//     #titulo{
//         justify-content: center;
//   } 
// }

// @include breakpoint(nth(map-get($breakpoints,"md"),1),nth(map-get($breakpoints,"md"),2)){
//     #titulo{
//         justify-content: center;
//   } 
// }

// @include breakpoint(nth(map-get($breakpoints,"lg"),1),nth(map-get($breakpoints,"lg"),2)){
//     #titulo{
//         justify-content: center;
//   } 
// }
