@import "_rejilla.scss";
@import "_variables.scss";
@import "_generales.scss";
@import "_hamburger_menu.scss";

*{
    font-family: $tipografia;
    font-weight: 100;
}
img{
   // width: 100%;
}

#slider{
    background-image: url("./images/slider/bg1.jpg");
    padding: 6em;
    background-size: cover;
    background-repeat: no-repeat;
    h2{
        span{
            color: $azulin;
        }
        font-size: 2em;
        //ont-weight: 400;
        color: white;
    }
    p{
        color: white;
        padding: 1em 0;
    }
}

#portfolio, .miembro-equipo{
    background-color: $blanco;
}

#footer{
    background-color: $negro;
}

.boton{
    text-decoration: none;
    color: white;
    background-color: $azulin;
    padding: 1em;
    width: fit-content;
}

#titulo-pagina{
    align-self: center;
    font-size: 1.3em;
}

nav{
    ul{
        li{
            list-style: none;
            a{
                text-decoration: none;
                color: black;
            }
        }
    }
}

header {
    a{
        text-decoration: none;
        color: $azulin;
    }

    #menu-responsive{
        align-self: center;
    }
}

.cabecera-seccion{
    h2{
        font-size: 2em;
    }
}

.icono-servicio{
    i{
        border: 1px solid grey;
        border-radius: 50%;
        color: $azulin;
    }
    
}

picture {
    width: 100%;
}

img{
    width: 100%;
}

footer{
    color: white;
}

#meet-team{
    padding:1em;
}



@include breakpoint(nth(map-get($breakpoints,"sm"),1),nth(map-get($breakpoints,"sm"),2)){
        #slider{
            padding: 4em 1em;
        }

        #meet-team{
            padding:0;
        }
     }