@use "sass:color";
@use "sass:list";

$color_fondo: rgb(190, 187, 180);
$color_titulo: rgb(212, 211, 208);
$color_cabecera: rgb(52, 48, 44);
$color_letras_cabecera: rgb(212, 216, 214);
$color_letras_titulos: rgb(84, 82, 78);

body{
    background-color: $color_fondo;
}

header, footer{
    background-color: $color_cabecera;
    color: $color_letras_cabecera;
    text-align: center;
}

#container{
    width: 80%;
    margin: 0 auto;
    background-color: white;
    font-family: 'Bowlby One SC';

    header{

        #titulo{
            padding: 2%;
            h1{
                font-size: 2.2em;
                padding-bottom: 4vh;
            }
    
            h3{
                font-size: 1.3em;
            }
        }


        #menuYBanner{
            height: 250px;
            nav{
                background-color: white;
                float: left;
                width: 23%;
                height: 100%;
                color: $color_cabecera;
                font-size: small;
                li{
                    height: 50px;
                    padding: 10%;
                }
            }

            #banner{
                width: 77%;
                height: 250px;
                background-image: url(img/movies.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                float: right;
            }
        }
    }
    main{
        padding: 2% 3%;
        .ficha{      
            width: -moz-fit-content;
            width: fit-content;
            margin-bottom: 2vh;
            background-color: $color_fondo;
            padding: 1%;
            border-radius: 5px;
            float: left;
            
            img{
                display: block;
                width: 18vw;
                margin: 0 auto;
                border-radius: 5px;
            }
     
            p{
                width: 23vw;
                background-color: $color_titulo;
                color: $color_letras_titulos;
                margin: auto;
                text-align: center;
                border-radius: 2px;
                margin-top: 2vh;
                padding: 4%;
                font-size: 0.6em;
            }
            
        }

        article:nth-child(7){
            margin-left: 13vw;
            margin-bottom: 0;
        }
        
        article:last-of-type{
            margin-left: 0.8vw;
            margin-bottom: 0;
        }

        .central{
            margin-left: 0.8vw;
            margin-right: 0.8vw;
        }

        
    
    }
    footer{
        padding: 1%;
    }

} 

.limpiar{
    clear: both;
}